@page "/"
@inject TemplatesClient Client
@inject NavigationManager Manager

@if(Templates == null)
{
    <p>error : not found</p>
}
else
{
    <div class="cont">
        <a href="/">
            <h1>Список шаблонов</h1>
        </a>
        <div class="buttons">
            <button type="button" class="btn btn-primary" @onclick="CreateTemplate">Добавить шаблон</button>
            <button type="button" class="btn btn-primary" @onclick="UploadTemplate">Загрузить шаблон</button>
        </div>
        <div class="grid">
            @foreach(var template in Templates)
            {
                <div class="item">
                    <h5>@template.Name</h5>
                    <button type="button" class="btn btn-primary" @onclick="(() => EditTemplate(template.Id))">Изменить</button>
                    <button type="button" class="btn btn-danger" @onclick="(() => DeleteTemplate(template.Id))">Удалить</button>
                    <button type="button" class="btn btn-primary" @onclick="(() => ExportTemplate(template.Id))">Заполнить шаблон</button>
                </div>
            }
        </div>
    </div>
}

@code{
    ICollection<Template> Templates{ get; set; }
    protected override async Task OnInitializedAsync()
        =>  Templates = await Client.GetAsync();
    void CreateTemplate()
        => Manager.NavigateTo($"/create");
    void EditTemplate(int id)
        =>  Manager.NavigateTo($"/{id}");
    void DeleteTemplate(int id)
        =>  Manager.NavigateTo($"/delete/{id}");
    void UploadTemplate()
        => Manager.NavigateTo($"/upload");
    void ExportTemplate(int id)
        => Manager.NavigateTo($"/export/{id}");
}
